[class^="idc-arrow-"] {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity 300ms linear;
  font-family: Arial, sans-serif;
  font-size: 30px;
  overflow: hidden;
}

.hide[class^="idc-arrow-"] {
  opacity: 0;
  transition: opacity 300ms linear;
}

[class^="idc-arrow-"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="idc-arrow-"]::before {
  content: '›';
}

/// Used for arrowUrl and arrowMarkup option
[class^="idc-arrow-"].idc-no-before::before {
  content: '';
}

.idc-arrow-top,
.idc-arrow-bottom {
  height: 20px;
}

.idc-arrow-right,
.idc-arrow-left {
  width: 20px;
}

.idc-arrow-top::before {
  transform: rotate(-90deg);
}

.idc-arrow-right::before {
  transform: rotate(0deg);
}

.idc-arrow-bottom::before {
  transform: rotate(90deg);
}

.idc-arrow-left::before {
  transform: rotate(180deg);
}
