.idc-container,
.idc-element {
  // Hide Scrollbar in FF
  overflow: -moz-scrollbars-none;
  // Hide Scrollbar in IE
  -ms-overflow-style: none;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  overflow: auto;
  position: relative;
}

.idc-absolute {
  position: inherit;
}

// Hide Scrollbar in Chrome
.idc-container::-webkit-scrollbar,
.idc-element::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
