div {
  height: 30vh;
}

p {
  margin: 0;
  padding-bottom: 10px;
  width: 200%;
}

.container {
  position: relative;
  margin-top: 50px;
}

iframe {
  width: 100%;
  height: 20vh;
}

.colored {
  padding: 20px;
  border: 20px solid #0000FF;
  margin: 20px;
}

.colored.red {
  background: #FF0000;
  border: 20px solid #FF0000;
}

th,
td {
  padding: 20px;
}
