body {
  max-width: 75vw;
  margin: 0 auto;
  padding: 2vh 0;
  font-family: sans-serif;
  font-size: 1.5vw;
}

@media (max-width: 750px) {
  body {
    font-size: 3vw;
  }
}

header {
  display: flex;
}

nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

nav > a > img {
  width: 30px;
  margin-left: 10px;
}

.code {
  font-family: monospace;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.demo {
  max-height: 15vw;
  white-space: nowrap;
}

.tile {
  display: inline-block;
  background: lightskyblue;
  width: 10vw;
  height: 10vw;
  margin-right: 1vw;
  border-radius: 2vw;
}

.edits {
  display: flex;
}

@media (max-width: 750px) {
  .edits {
    flex-direction: column;
  }
}

.options,
.styles {
  flex: 1;
}
