.tile {
  display: inline-block;
  background: lightskyblue;
  width: 10vw;
  height: 10vw;
  border-radius: 2vw;
  margin: 0 2vw 0 0;
}

.tile:last-of-type {
  margin: 0;
}

.edits {
  display: flex;
}

@media (max-width: 750px) {
  .edits {
    flex-direction: column;
  }
}
