.tile {
  display: inline-block;
  background: lightskyblue;
  width: 10vw;
  height: 10vw;
  margin-right: 1vw;
  border-radius: 2vw;
}

.edits {
  display: flex;
}

@media (max-width: 750px) {
  .edits {
    flex-direction: column;
  }
}
